.carousel {
    height: 125px;

    .carousel-control {
        @include reset-filter();
        background-image: none !important;
        outline: 0;
    }

    .carousel-indicators {
        display: none;
    }
}
