// Fonts
$FontPathOpenSans: '../fonts/opensans';

// Bootstrap
$font-family-sans-serif:        "Open Sans", Arial, sans-serif;
$icon-font-path:                "../fonts/bootstrap/";
$link-color:                    $cor-secundaria-azul-claro;
$breadcrumb-padding-horizontal: 0;
$breadcrumb-bg:                 none;
$breadcrumb-color:              #172938;
$breadcrumb-active-color:       #666;
