#editais,
#edital,
.latest-editais {
    .title-box {
        color: $cor-editais;
        border-top-color: $cor-editais;
        @include title-background('../img/bg-editais.png');
    }

    a {
        color: $cor-editais;
    }
}

        &.current-cat {
            >a {
                font-weight: bold;
            }
        }
    }
}
