.carousel {
    margin-bottom: 20px;
    .carousel-control.left,
    .carousel-control.right {
        @include reset-filter();
        background-image: none !important;
        outline: 0;
    }

    @media (min-width: $screen-md-min) {
        .carousel-control {
            visibility: hidden;
            width: 5% !important;
        }

        &:hover {
            .carousel-control {
                visibility: visible;
            }
        }
    }
}

.noticia-destaque {
    .noticia-imagem {
        margin-bottom: 15px;
    }

    .noticia-titulo {
        color: #172938;
        font-size: 34px;
        font-weight: bold;
        line-height: 37px;
        margin-top: 0;
        margin-bottom: 15px;

        > a {
            color: #172938;
        }
    }

    .noticia-resumo {
        color: #172938;
        font-size: 16px;
        line-height: 21px;
    }
}

.noticia {
    .noticia-imagem {
        margin-bottom: 15px;
    }

    .noticia-titulo {
        color: #172938;
        font-size: 16px;
        font-weight: bold;
        line-height: 21px;
        margin-top: 0;
        margin-bottom: 15px;

        > a {
            color: #172938;
        }
    }

    .noticia-resumo {
        color: #172938;
        font-size: 14px;
        line-height: 21px;
    }
}

.separador-noticia {
    border-color: $cor-primaria-verde;
    border-width: 2px;
    margin-top: 0;
    margin-bottom: 10px;
}



#lista-noticias {
    > div {
        margin-bottom: $grid-gutter-width;
    }
}
