.noticia-destaque {
    .noticia-imagem {
        margin-bottom: 0;
        margin-right: 10px;

        @media screen and (min-width: $screen-md-min) {
            float: left;
            max-width: 40%;
        }
    }

    .noticia-cartola {
        color: $cor-secundaria-azul-claro;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .noticia-data {
        color: $cor-secundaria-azul-claro;
        font-size: 12px;
        margin-bottom: 5px;
    }

    .noticia-titulo {
        color: #172938;
        font-size: 26px;
        font-weight: bold;
        line-height: 30px;
        margin-top: 0;
        margin-bottom: 10px;

        > a {
            color: #172938;
        }
    }

    .noticia-resumo {
        color: #172938;
        font-size: 16px;
        line-height: 21px;

        p {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            line-height: 21px;     /* fallback */
            max-height: 63px;      /* fallback */ /* number of lines * line-height */
            -webkit-line-clamp: 3; /* number of lines to show */
            -webkit-box-orient: vertical;
        }
    }
}

.noticia {
    .noticia-imagem {
        margin-bottom: 15px;
    }

    .noticia-cartola {
        color: $cor-secundaria-azul-claro;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .noticia-data {
        color: $cor-secundaria-azul-claro;
        font-size: 12px;
        margin-bottom: 5px;
    }

    .noticia-titulo {
        color: #172938;
        font-size: 16px;
        font-weight: bold;
        line-height: 21px;
        margin-top: 0;
        margin-bottom: 15px;

        > a {
            color: #172938;
        }
    }

    .noticia-resumo {
        color: #172938;
        font-size: 14px;
        line-height: 21px;

        p {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            line-height: 21px;     /* fallback */
            max-height: 84px;      /* fallback */
            -webkit-line-clamp: 4; /* number of lines to show */
            -webkit-box-orient: vertical;
        }
    }
}

.separador-noticia {
    border-color: $cor-primaria-verde;
    border-width: 2px;
    margin-top: 0;
    margin-bottom: 10px;
}



#lista-noticias {
    > div {
        margin-bottom: $grid-gutter-width;
    }
}

.link-todas-noticias {
    @include link-todos($cor-primaria-verde);
}

.banner-separator {
    margin-top: 0;
}
