header {
    background-color: $cor-primaria-cinza;
    // background: linear-gradient(#F0F2F1, $cor-primaria-cinza); // Padrão do Governo
    @include gradient-vertical(#FFFFFF, $cor-primaria-cinza);
    margin-bottom: $grid-gutter-width;
    padding-top: 15px;

    a {
        color: $cor-primaria-verde;

        &:hover {
            color: $cor-primaria-verde;
        }
    }

    .barra {
        font-size: 10px;
        list-style: none;
        padding-left: 0;

        li {
            display: inline;
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .search-form {
        margin-bottom: 15px;
    }
}

#header-menus {
    margin-bottom: 30px;
    text-align: center;
}

#header-left {
    @media only screen and (max-width: $screen-md-min) {
        a {
            > img {
                text-align: center;
                margin: 0 auto;
            }
        }
    }

    margin-bottom: 30px;
}

#header-right {
    @media only screen and (min-width: $screen-md-min) {
        text-align: right;
    }

    margin-bottom: 17px;
    text-align: center;
}

#menu-atalhos {
    @media only screen and (min-width: $screen-md-min) {
        text-align: left;
    }

    font-family: Arial, sans-serif;

    li {
        .badge {
            font-size: 10px;
        }
    }
}

#menu-acessibilidade {
    @media only screen and (min-width: $screen-md-min) {
        margin-top: 0;
        text-align: right;
    }

    margin-top: 10px;
    text-transform: uppercase;

    a {
        text-decoration: underline;
        text-decoration-style: dotted;
    }
}

#menu-social {
    @media only screen and (min-width: $screen-md-min) {
        text-align: right;
    }

    li {
        margin-right: 5px;

        &:last-child {
            margin-right: 0;
        }
    }
}

#barra-servicos {
    background-color: $cor-barra-servicos;
    color: #FFFFFF;
    height: 30px;

    a {
        color: #FFFFFF;
    }
}

#menu-servicos {
    font-size: 12px;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    text-align: right;

    li {
        display: inline-block;

        + li:before {
            $nbsp: "\00a0";
            padding: 0 10px;
            content: "|#{$nbsp}";
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
