header {
    background-color: $cor-primaria-cinza;
    // background: linear-gradient(#F0F2F1, #ECEDF1); // Padrão do Governo
    background: linear-gradient(#FFFFFF, #ECEDF1);
    padding: 15px 48px 0 48px;
}
