.slicknav_menu {
    display: none;
}

@media screen and (max-width: $screen-md-min) {
    #menu-relevancia,
    #menu-principal {
        display: none;
    }

    .slicknav_menu {
        display: block;
    }
}

#menu-campi {
    @media (min-width: $screen-sm-min) {
        background-image: url('../img/bg-unidades.png');
        background-position: center left;
        background-repeat: no-repeat;
        background-size: contain;
        font-size: 1.2em;
        padding: 10px 100px 10px 150px;
    }

    @media (min-width: $screen-md-min) {
        padding: 10px 110px 10px 110px;
    }

    background-color: $cor-primaria-cinza;
    border-radius: 4px;
    font-size: 1.1em;
    list-style: none;
    margin: 0;
    margin-bottom: $grid-gutter-width;
    padding: 10px 10px 10px 10px;
    text-align: center;

    li {
        border-right: 1px solid #ccc;
        display: inline-block;
        margin-bottom: 5px;
        padding: 0 10px;

        &:last-child {
            border-right: none;
        }

        a {
            color: $cor-primaria-verde;
        }
    }
}

#menu-relevancia {
    list-style: none;
    margin: 0;
    margin-bottom: 45px;
    padding: 0;

    > li {
        border-top: 1px solid $menu-border;
        display: block;
        font-size: 14px;
        min-height: 30px;

        > a {
            color: #03316F;
            display: block;
        }

        &:last-child {
            border-bottom: 1px solid $menu-border;
        }
    }
}

.slicknav_menu {
    .glyphicon {
        display: none;
    }
}

#menu-principal {
    list-style: none;
    padding: 0;

    .menu-item {
        > a {
            border-bottom: 1px solid $menu-border;
        }
    }

    > li {
        > a {
            background: $menu-fundo-nivel-1-2;
            border-top: 4px solid $cor-primaria-verde;
            color: #00500F;
            display: block;
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;
            min-height: 47px; // As bordas contam como tamanho do elemento, por isso não é 42px como diz o guia.
            margin-top: 30px;
            padding-left: 7px;
            padding-top: 3px;
            padding-bottom: 3px;
        }
    }

    .menu-item-has-children {
        >a {
            &:after {
                /* symbol for "opening" panels */
                font-family: 'Glyphicons Halflings';
                content: "\e114";
                float: right;
                padding: 0 3px;
                font-weight: normal;
            }
            &.collapsed:after {
                /* symbol for "collapsed" panels */
                content: "\e080";
            }
        }
    }

    .sub-menu {
        list-style: none;
        padding: 0;

        > li {
            > a {
                color: #172938;
                display: block;
                font-size: 14px;
                min-height: 30px;
                padding-left: 10px;
                padding-top: 3px;
                padding-bottom: 3px;
            }

            &.current-menu-item {
                > a {
                    font-weight: bold;
                }
            }

            &.menu-item-has-children {
                border-bottom: 1px solid $menu-inner-border;

                > a {
                    background-color: $menu-fundo-nivel-1-2;
                    border-top: 2px solid $menu-inner-border;
                    border-bottom: 1px solid $menu-inner-border;
                    color: #172938;
                    font-size: 14px;
                    font-weight: 600;
                }

                .menu-item {
                    > a {
                        // background-color: #D9DADC;
                        border-bottom: 1px solid $menu-inner-border;
                        font-size: 13px;
                        padding-left: 20px;
                    }
                }
            }
        }
    }
}

#menu-externo {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
        margin-bottom: 10px;
        padding: 0 10px 0 0;
    }
}
