.widget {
    margin-bottom: $grid-gutter-width;
}

.widget-nav {
    img {
        @extend .center-block;
        @extend .img-responsive;
    }
}

.widget-home {
    img {
        @extend .center-block;
        @extend .img-responsive;
    }
}

.widget-home-side {
    img {
        @extend .center-block;
    }
}

.facebook-widget {
    @extend .center-block;
}

.widget-home-banner {
    float: left;
    margin: 0 10px 10px 0;
}
