.widget {
    margin-bottom: $grid-gutter-width / 2;
}

.widget-nav {
    img {
        @extend .center-block;
        @extend .img-responsive;
    }
}

.widget-home {
    img {
        @extend .center-block;
        @extend .img-responsive;
    }
}

.widget-home-side {
    img {
        @extend .center-block;
    }
}

.widget-gallery {
    h2 {
        @include title-box($cor-galeria, '../img/bg-galeria.png');
    }

    .instagram-pics {
        list-style: none;
        padding: 0;

        li {
            @extend .col-xs-6;
            @extend .col-sm-4;
            @extend .col-md-3;
            display: inline-block;
            padding: 0;

            img {
                @extend .img-responsive;
            }
        }
    }

    .clear {
        a {
            @extend .pull-right;
            @include link-todos($cor-galeria);
        }
    }
}

.facebook-widget {
    @extend .center-block;
}

.widget-home-banner {
    float: left;
    margin: 0 10px 10px 0;
}
