@font-face {
  font-family: 'Open Sans';
  font-display: fallback;
  font-weight: normal;
  font-style: normal;
  src: url('../opensans/Regular/OpenSans-Regular.eot');
  src: url('../opensans/Regular/OpenSans-Regular.woff2') format('woff2'),
    url('../opensans/Regular/OpenSans-Regular.woff') format('woff'),
    url('../opensans/Regular/OpenSans-Regular.ttf') format('truetype'),
    url('../opensans/Regular/OpenSans-Regular.svg#OpenSansRegular') format('svg'),
    url('../opensans/Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
}

@font-face {
  font-family: 'Open Sans';
  font-display: fallback;
  font-weight: normal;
  font-style: italic;
  src: url('../opensans/Italic/OpenSans-Italic.eot');
  src: url('../opensans/Italic/OpenSans-Italic.woff2') format('woff2'),
    url('../opensans/Italic/OpenSans-Italic.woff') format('woff'),
    url('../opensans/Italic/OpenSans-Italic.ttf') format('truetype'),
    url('../opensans/Italic/OpenSans-Italic.svg#OpenSansItalic') format('svg'),
    url('../opensans/Italic/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
}

@font-face {
  font-family: 'Open Sans';
  font-display: fallback;
  font-weight: bold;
  font-style: normal;
  src: url('../opensans/Bold/OpenSans-Bold.eot');
  src: url('../opensans/Bold/OpenSans-Bold.woff2') format('woff2'),
    url('../opensans/Bold/OpenSans-Bold.woff') format('woff'),
    url('../opensans/Bold/OpenSans-Bold.ttf') format('truetype'),
    url('../opensans/Bold/OpenSans-Bold.svg#OpenSansBold') format('svg'),
    url('../opensans/Bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: 'Open Sans';
  font-display: fallback;
  font-weight: bold;
  font-style: italic;
  src: url('../opensans/BoldItalic/OpenSans-BoldItalic.eot');
  src: url('../opensans/BoldItalic/OpenSans-BoldItalic.woff2') format('woff2'),
    url('../opensans/BoldItalic/OpenSans-BoldItalic.woff') format('woff'),
    url('../opensans/BoldItalic/OpenSans-BoldItalic.ttf') format('truetype'),
    url('../opensans/BoldItalic/OpenSans-BoldItalic.svg#OpenSansBoldItalic') format('svg'),
    url('../opensans/BoldItalic/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype');
}
