@import 'commons';

.cursos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: row;
  gap: 2rem;
  place-content: stretch stretch;
  place-items: stretch stretch;

  @include media-breakpoint-down(xl) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media-breakpoint-down(lg) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-breakpoint-down(sm) {
    grid-template-columns: 1fr;
  }

  .curso {
    @extend %card;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: start;
    justify-content: start;
    width: 100%;
    padding: 1.5rem;

    &:hover,
    &:active {
      color: var(--bs-primary-text-emphasis);
      text-decoration: none;
      background-color: var(--bs-primary-bg-subtle);
    }

    &--todos {
      place-content: center center;
      color: var(--bs-light, #ffffff);
      background-color: var(--bs-link-color);
      text-align: center;

      &:hover,
      &:active {
        color: var(--bs-light, #ffffff);
        background-color: var(--bs-link-hover-color);
      }
    }

    &__titulo {
      font-size: clamp-builder(600, 1200, 1.2, 1.5);
    }

    &__meta {
      &:last-child {
        padding-top: 1rem;
        margin-top: auto;
      }
    }

    > * {
      margin-bottom: 0;
    }
  }
}
