footer {
    background-color: $cor-rodape;
    margin-top: 20px;
    padding-bottom: 100px;
    padding-top: 30px;
}

#footer-bottom {
    background-color: #FFFFFF;
    p {
        padding-top: 10px;
        text-align: center;
        font-size: 0.9em;

        a {
            color: #000;
        }
    }
}
