header {
    background-color: $cor-primaria-cinza;
    // background: linear-gradient(#F0F2F1, $cor-primaria-cinza); // Padrão do Governo
    @include gradient-vertical(#FFFFFF, $cor-primaria-cinza);
    margin-bottom: $grid-gutter-width;
    padding-top: 15px;

    a {
        color: $cor-primaria-verde;

        &:hover {
            color: $cor-primaria-verde;
        }
    }

    .barra {
        font-size: 10px;
        list-style: none;
        padding-left: 0;

        li {
            display: inline;
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .search-form {
        margin-bottom: 15px;
    }
}

#header-menus {
    margin-bottom: 30px;
    text-align: center;
}

#header-content {
    display: flex;
    align-items: center;
}

#header-left {
    @media only screen and (max-width: $screen-md-min) {
        a {
            > img {
                text-align: center;
                margin: 0 auto;
            }
        }
    }

    margin-bottom: 30px;
}

#header-right {
    @media only screen and (min-width: $screen-md-min) {
        text-align: right;
    }

    margin-bottom: 17px;
    text-align: center;
}

#barra-servicos {
    align-items: center;
    background-color: $cor-barra-servicos;
    color: #FFFFFF;
    display: flex;
    margin-top: 30px;
    min-height: 30px;
    padding: 3px 0;

    a {
        color: #FFFFFF;
    }
}
