@use 'sass:math';

header {
  padding-top: math.div($spacer, 2);

  .row:not(:last-of-type) {
    margin-bottom: 2rem;
  }
}

.header {
  &__govbr {
    @include img-fluid;

    width: 100px;
  }

  &__principal {
    a {
      color: $body-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__title {
    font-size: 2.4rem;
    font-weight: 400;
  }
}
