<!-- wp:template-part {"slug":"header","theme":"ifrs-portal-theme","area":"header","lock":{"move":true,"remove":true}} /-->

<main class="container">
  <!-- wp:heading {"className":"mb-4"} -->
  <h2 class="wp-block-heading mb-4">Todas as Not&iacute;cias</h2>
  <!-- /wp:heading -->

  <!-- wp:template-part {"slug":"noticias","lock":{"move":true,"remove":true}} /-->
</main>

<!-- wp:template-part {"slug":"footer","theme":"ifrs-portal-theme","area":"footer","lock":{"move":true,"remove":true}} /-->
