@use 'sass:math';

.area-docs {
    display: flex;
    flex-wrap: wrap;

    &__widget {
        @include widget();

        flex: 1 0 100%;

        @include media-breakpoint-up(lg) {
            flex: 1 0 50%;

            &:nth-child(odd) {
                padding-right: math.div($grid-gutter-width, 2);
            }

            &:nth-child(even) {
                padding-left: math.div($grid-gutter-width, 2);
            }

            &:last-child() {
                padding-right: 0;
            }
        }
    }
}
