.area-atalhos {
    &__title {
        @include title-box();

        color: $cor-primaria-verde;
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 0.5rem;

        /* Workaround para que a última linha fique alinhada à esquerda. */
        &::after {
            content: '';
            flex: auto;
        }
    }

    &__widget {
        @include widget();

        display: inline-flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 80px;

        a {
            display: block;
        }
    }

    &__widget-title {
        color: $cor-primaria-verde;
        font-size: 0.75rem;
        margin-top: 3px;
        margin-bottom: 0;
        order: 1;
        text-align: center;
    }
}
