.area-nav {
    list-style: none;
    margin-bottom: 10px;
    padding: 0;

    &__widget {
        margin-bottom: 10px;

        @include media-breakpoint-down(lg) {
            text-align: center;
        }

        > a {
            display: inline-block;
        }

        img {
            @include img-fluid();
            margin: 0 auto;
        }
    }
}
