.area-nav {
    margin-bottom: 10px;

    &__widget {
        @include media-breakpoint-down(lg) {
            text-align: center;
        }

        img {
            @include img-fluid();
            margin: 0 auto;
        }
    }
}
