.area-home {
    margin-bottom: $grid-gutter-width;

    &__widget {
        margin: 10px 0;
        text-align: center;

        > a {
            display: block;
        }

        img {
            @include img-fluid();
        }
    }
}
