.area-atalhos {
    &__title {
        @include title-box();
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__widget {
        @include widget();

        display: inline-block;
        margin-left: 6px;
        margin-right: 6px;

        a {
            display: block;
        }
    }
}
