.area-social {
    @include menu-barra();
    @include widget();

    margin-bottom: 0;

    @include media-breakpoint-up(lg) {
        text-align: right;
    }

    &__widget {
        &:last-child {
            margin-right: 0;
        }

        a {
            display: inline-block;
        }
    }
}
