.area-atalhos {
    &__title {
        @include title-box();

        color: $cor-primaria-verde;
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__widget {
        @include widget();

        display: inline-flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-bottom: 12px;
        margin-right: 12px;
        vertical-align: top;
        width: 80px;

        &:last-child {
            margin-right: 0;
        }

        a {
            display: block;
        }
    }

    &__widget-title {
        color: $cor-primaria-verde;
        font-size: 0.75rem;
        margin-top: 3px;
        order: 1;
        text-align: center;
    }
}
