#barra-brasil {
    div.brasil-flag {
        height: auto;
    }

    #menu-icon {
        margin-top: 5px;
    }
}

#footer-brasil {
    background: none repeat scroll 0% 0% #00420c;
    padding: 1em 0px;
    max-width: 100%;
}
