.breadcrumb-yoast {
  display: inline-flex;
  gap: $breadcrumb-item-padding-x;
  align-items: center;
  justify-content: start;
  padding: 0 0 0.5rem;
  margin: 2rem 0 0;
  font-size: $breadcrumb-font-size;
  border-bottom: 1px solid $gray-200;
}
