.breadcrumb-yoast,
.breadcrumb-portal {
  display: inline-flex;
  gap: $breadcrumb-item-padding-x;
  align-items: center;
  justify-content: start;
  padding: 0 0 0.5rem;
  margin: 2rem 0 0;
  font-size: $breadcrumb-font-size;
  border-bottom: 1px solid $gray-200;

  svg {
    width: 1rem;
    height: 1rem;
    fill: currentColor;
    vertical-align: center;
  }
}
