.concursos {
  a {
    color: $cor-concursos;
  }

  .wp-block-query-title {
    color: $cor-concursos;
  }

  &__filter {
    @include filtro($cor-concursos);
  }

  .card {
    &:hover {
      box-shadow: $box-shadow;
    }
  }
}
