.creditos {
    font-size: 0.75rem;
    margin-top: 15px;
    text-align: center;

    > * {
        display: block;
        opacity: 0.75;

        &:hover {
            text-decoration: none;
        }

        & + * {
            margin-top: 10px;
        }
    }

    > a {
        &:after {
            @include icon-external-link(#ffffff);

            background-size: 10px;
            content: '';
            margin-left: 5px;
            padding-left: 15px;
        }
    }
}
