.creditos {
    font-size: 0.75rem;
    margin-top: 15px;
    text-align: center;

    > * {
        display: inline-block;
        margin-bottom: 10px;
        opacity: 0.75;

        &:hover {
            text-decoration: none;
        }

        &:after {
            @include icon-external-link(#ffffff);

            background-size: 10px;
            content: '';
            margin-left: 3px;
            padding-left: 15px;
            vertical-align: middle;
        }

        & + * {
            margin-left: 15px;
        }
    }
}
