/*
 Copyright Crunchify
 http://crunchify.me/1VIxAsz
*/

.crunchify-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 15px 0;
    padding: 0;

    @include media-breakpoint-up(lg) {
        text-align: right;
        justify-content: flex-end;
    }

    &__item {
        align-items: center;
        display: flex;
        margin-bottom: 5px;
        margin-right: 5px;

        &:last-child {
            margin-right: 0;
        }

        &--first {
            @include icon-share(#000000);

            background-size: 20px;
            padding: 10px;
        }
    }

    &__link {
        font-size: 0.75rem;

        svg {
            fill: #ffffff;
            margin-right: 5px;
            max-height: 16px;
            max-width: 16px;
        }

        &_twitter {
            @include button-variant($cor-twitter, $cor-twitter);
            @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-line-height, $btn-border-radius-sm);
        }

        &_facebook {
            @include button-variant($cor-facebook, $cor-facebook);
            @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-line-height, $btn-border-radius-sm);
        }

        &_pinterest {
            @include button-variant($cor-pinterest, $cor-pinterest);
            @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-line-height, $btn-border-radius-sm);
        }

        &_linkedin {
            @include button-variant($cor-linkedin, $cor-linkedin);
            @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-line-height, $btn-border-radius-sm);
        }

        &_whatsapp {
            @include button-variant($cor-whatsapp, $cor-whatsapp);
            @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-line-height, $btn-border-radius-sm);

            @include media-breakpoint-up(md) {
                display: none;
            }
        }
    }
}
