.cursos {
    &__search {
        .btn-search-cursos {
            @include button-variant($cor-cursos, $cor-cursos);
        }
    }

    &__content {
        display: flex;
        flex-flow: row wrap;
        place-content: flex-start space-around;
        align-items: stretch;
        padding-top: 15px;

        a {
            color: $cor-cursos;
        }
    }
}

.curso-item {
    flex: 0 0 100%;
    align-self: flex-start;
    margin-bottom: 15px;

    @include media-breakpoint-up(sm) {
        flex-basis: 47%;
    }

    @include media-breakpoint-up(md) {
        flex-basis: 48%;
    }

    @include media-breakpoint-up(lg) {
        flex-basis: 32%;
    }

    @include media-breakpoint-up(xl) {
        flex-basis: 31%;
    }

    &__unidade {
        font-size: 0.9rem;
    }

    &__modalidade {
        display: block;
        margin-top: 5px;
        font-size: 0.75rem;
        color: $cor-cursos;
    }

    &__nivel {
        font-size: 0.75rem;
        color: #666666;
        text-transform: uppercase;

        a {
            color: #666666;
        }
    }

    &__title {
        margin: 5px 0;
        font-size: 1.1rem;
        font-weight: bold;
        color: $primary;

        a {
            color: $primary;
        }
    }

    &__turnos {
        font-size: 0.8rem;
    }
}
