.cursos {
    &__title {
        @include title-box($cor-cursos, '../img/bg-cursos.png');
    }

    &__search {
        .btn-search-cursos {
            @include button-variant($cor-cursos, $cor-cursos);
        }
    }

    &__content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: flex-start;
        align-items: stretch;
        padding-top: 15px;

        a {
            color: $cor-cursos;
        }
    }
}

.curso-item {
    align-self: flex-start;
    flex: 0 0 100%;
    margin-bottom: 15px;

    @include media-breakpoint-up(sm) {
        flex-basis: 47%;
    }

    @include media-breakpoint-up(md) {
        flex-basis: 48%;
    }

    @include media-breakpoint-up(lg) {
        flex-basis: 32%;
    }

    @include media-breakpoint-up(xl) {
        flex-basis: 31%;
    }

    &__unidade {
        font-size: 0.9rem;
    }

    &__modalidade {
        color: $cor-cursos;
        display: block;
        font-size: 0.75rem;
        margin-top: 5px;
    }

    &__nivel {
        color: #666666;
        font-size: 0.75rem;
        text-transform: uppercase;

        a {
            color: #666666;
        }
    }

    &__title {
        color: $cor-primaria-verde;
        font-size: 1.1rem;
        font-weight: bold;
        margin: 5px 0;

        a {
            color: $cor-primaria-verde;
        }
    }

    &__turnos {
        font-size: 0.8rem;

        a {
            color: $cor-secundaria-azul-escuro;
        }
    }
}
