.curso {
    &__thumb {
        float: left;
        width: 25%;
        height: auto;
        margin-right: 20px;
        margin-bottom: 10px;
    }
}

.curso-arquivos {
    margin-top: 15px;

    &__title {
        font-size: 1.25rem;
    }
}

.curso-aside {
    margin-bottom: 20px;

    &__content {
        padding: 0 10px;
        font-size: 0.9rem;
    }
}

.curso-info {
    &__icon {
        float: left;
        width: 32px;
    }

    &__title {
        padding-left: 38px;
        margin: 0;
        font-size: 0.85rem;
        font-weight: bold;
        color: $primary;
        text-transform: uppercase;
    }

    &__text {
        padding-left: 38px;
        font-size: 0.85rem;
        color: $primary;
        text-transform: uppercase;

        &--lower {
            text-transform: lowercase;
        }

        a {
            color: $primary;
        }
    }
}

.curso-coordenador {
    &__nome {
        margin: 0;
        font-weight: bold;
    }

    &__titulacao {
        font-size: 0.8rem;
    }
}
