.filter {
    &__form {
        legend {
            font-weight: bold;
            font-size: 1.1rem;
            text-align: center;
            margin-top: 1rem;
        }

        .btn-group {
            margin-top: 1rem;
        }
    }
}
