.footer {
    background-color: $cor-rodape;
    margin-top: 1.25rem;
    padding: 2rem 0;

    &__info {
        background-color: $cor-rodape-info;
        border-radius: $border-radius;
        color: #FFFFFF;
        font-size: 90%;
        padding-bottom: 1rem;
        padding-top: 1rem;

        a {
            color: #dddddd;
        }

        @include media-breakpoint-up(lg) {
            .row {
                display: flex;
                align-items: center;
            }
        }
    }
}
