.header {
  .row:not(:last-of-type) {
    margin-bottom: 1rem;
  }

  &__govbr {
    @include img-fluid();
    width: 120px;
  }

  &__principal {
    a {
      color: $body-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
