.license {
    background-color: #FFFFFF;

    &__content {
        padding-top: 10px;
        text-align: center;
        font-size: 0.8rem;
    }

    &__link {
        color: #000000;

        &:after {
            @include icon-external-link(#000000);

            content: '';
            margin-left: 5px;
            padding-left: 15px;
        }
    }
}
