#menu-acessibilidade {
    margin-top: 10px;
    text-transform: uppercase;

    a {
        text-decoration: underline;
        text-decoration-style: dotted;
    }

    @media only screen and (min-width: $screen-md-min) {
        margin-top: 0;
        text-align: right;
    }
}
