.menu-campi {
    background-color: $cor-primaria-cinza;
    border-radius: 4px;
    list-style: none;
    margin: 0;
    padding: 10px;
    text-align: center;

    li {
        display: inline-block;
        margin: 3px 0;
        padding: 0 10px;

        a {
            color: $cor-barra-servicos;
        }

        & + li {
            border-left: 1px solid #ccc;
        }
    }

    @include media-breakpoint-up(md) {
        padding: 10px;
    }

    @include media-breakpoint-up(lg) {
        padding: 10px;

        &:after {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 15px 25px 15px 0;
            border-color: transparent $cor-primaria-cinza;
            display: block;
            width: 0;
            z-index: 1;
            margin-top: -15px;
            left: -10px;
            top: 50%;
        }
    }
}
