.menu-acessibilidade {
  @extend %menu-barra;

  margin-block-start: 0.5rem;
  text-transform: uppercase;

  @include media-breakpoint-up(lg) {
    justify-content: end;
  }

  a {
    padding: $btn-padding-y-sm $btn-padding-x-sm;
    text-decoration: underline;
    text-decoration-style: dotted;
    border-radius: $btn-border-radius-lg;

    &:hover {
      color: var(--bs-primary-text-emphasis);
      text-decoration: none;
      background-color: var(--bs-primary-bg-subtle);
    }
  }
}
