.btn-menu-toggle {
  margin-inline: 0 0.5rem;

  @include media-breakpoint-up(md) {
    margin-inline: -19px 0.5rem; // TODO: remover ao achar SVG para menu hamburguer sem bleeding edge
  }

  &:hover {
    background-color: var(--bs-primary-bg-subtle, transparent);
  }

  .ham {
    width: 54px;
    height: auto;
    cursor: pointer;
    user-select: none;
    transition: transform 400ms;
    -webkit-tap-highlight-color: transparent;

    @include media-breakpoint-up(lg) {
      width: 72px;
    }

    .line {
      fill: none;
      stroke: $primary;
      stroke-width: 5.5;
      stroke-linecap: round;
      transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    }

    .top {
      stroke-dasharray: 40 139;
    }

    .bottom {
      stroke-dasharray: 40 180;
    }
  }


  &[aria-expanded="true"] {
    .hamRotate {
      transform: rotate(45deg);
    }

    .hamRotate180 {
      transform: rotate(180deg);
    }

    .ham {
      .top {
        stroke-dashoffset: -98px;
      }

      .bottom {
        stroke-dashoffset: -138px;
      }
    }
  }
}

.menu-principal-collapse {
  --collapse-height: calc(100dvh - var(--header-height, 0));

  position: absolute; right: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  margin-bottom: 0;
  background-color: #ededed;
  border-top: 2px solid #ffcd07;
  box-shadow: var(--bs-box-shadow-sm, none);

  .container {
    height: var(--collapse-height, 100dvh);
    overflow: hidden auto;
    overscroll-behavior: contain;
    overflow-anchor: none;
    -webkit-overflow-scrolling: touch;
  }
}

.menu-principal {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  justify-content: start;
  min-height: 100%;
  padding: $grid-gutter-width 0;
  font-weight: 500;
  list-style: none;

  a {
    color: inherit;
    text-decoration: none;
  }

  .menu-item {
    color: $primary;
    cursor: pointer;

    &:hover,
    &:focus-within,
    &:has(.sub-menu.show),
    &.current-menu-item {
      color: $white;
      background-color: #21752e;
    }

    &.current-menu-item {
      a {
        font-weight: 600;
      }
    }

    a {
      display: block;
      width: 100%; height: 100%;
      padding: 0.5rem 0.75rem;
    }
  }

  .menu-item-has-children {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    .svg-inline--fa {
      margin-inline: auto 0.75rem;
    }
  }

  > .menu-item,
  .menu-item-has-children,
  .sub-menu {
    width: max(var(--menu-column-width, 0), 300px);
  }

  .sub-menu {
    position: absolute;
    top: 0; left: 0;
    display: none;
    min-height: 100%;
    max-height: var(--collapse-height, 100dvh);
    padding: $grid-gutter-width 0;
    overscroll-behavior: contain;
    list-style: none;
    background-color: #f8f8f8;
    border-left: 1px solid #bbbbbb;

    @include media-breakpoint-up(sm) {
      transform: translateX(var(--offset-left, 0));
    }

    &.show {
      display: block;
    }
  }
}
