.menu-acessibilidade {
  @extend %menu-barra;

  margin-block-start: 0.5rem;
  text-transform: uppercase;

  @include media-breakpoint-up(lg) {
    justify-content: end;
  }

  a {
    text-decoration: underline;
    text-decoration-style: dotted;

    &:hover {
      text-decoration: none;
    }
  }
}
