.menu-campi {
    background-color: $cor-primaria-cinza;
    border-radius: 4px;
    list-style: none;
    margin: 0;
    padding: 10px;
    position: relative;
    text-align: center;

    li {
        display: inline;
        white-space: nowrap;

        &::before {
            content: ' ';
        }

        &::after {
            content: ' ';
            white-space: normal;
            word-spacing: 1.5em;
            background-image: linear-gradient(180deg, $gray-500);
            background-size: 1px;
            background-repeat: no-repeat;
            background-position: center center;
        }

        a {
            color: $cor-barra-servicos;
        }
    }

    @include media-breakpoint-up(md) {
        padding: 10px;
    }

    @include media-breakpoint-up(lg) {
        &::before {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 15px 25px 15px 0;
            border-color: transparent $cor-primaria-cinza;
            display: block;
            width: 0;
            z-index: 1;
            margin-top: -15px;
            left: -25px;
            top: 50%;
        }
    }

    &__toggle {
        @include icon-chevron('up', $cor-primaria-verde);

        background-position: right center;
        background-size: 20px;
        color: $cor-primaria-verde;
        display: block;
        margin: 0 auto;
        padding-right: 25px;

        &.collapsed {
            @include icon-chevron('down', $cor-primaria-verde);

            background-position: right center;
            background-size: 20px;
            border-bottom: 2px solid $cor-primaria-cinza;
        }
        // position: relative;

        // &::after {
        //     content: '';
        //     position: absolute;
        //     border-bottom: 1px solid $cor-primaria-cinza;
        //     display: inline-block;
        //     width: 100%;
        //     left: 0;
        //     top: 50%;
        // }
    }
}
