@use 'sass:math';

// .nav-principal {
//   margin-top: $spacer * 2;
// }

.menu-principal {
  display: flex;
  flex-wrap: wrap;
  gap: math.div($spacer, 2);
  font-weight: 600;
  padding: 0;

  a {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;
  }

  > .menu-item {
    list-style: none;
    position: relative;
    border-radius: $border-radius-lg;
    color: var(--bs-primary-text-emphasis);
    font-size: 0.95rem;

    &:hover,
    &:focus-within,
    &:has(.sub-menu.show),
    &.current-menu-item,
    &.current-menu-ancestor {
      background-color: var(--bs-primary-bg-subtle);
    }

    > a {
      display: block;
      line-height: $line-height-sm;
      padding: $btn-padding-y $btn-padding-x;
    }
  }

  .sub-menu {
    font-size: 0.9rem;
    font-weight: 500;

    > .menu-item > .dropdown-item.dropdown-toggle {
      align-items: center;
      display: flex;

      &::after {
        margin-inline-start: auto;
      }
    }
  }
}
