@use 'sass:math';

.btn-menu-toggle {
  svg {
    width: 48px;
    height: auto;

    @include media-breakpoint-up(sm) {
      width: 56px;
    }

    @include media-breakpoint-up(md) {
      width: 64px;
    }
  }
}

.menu-principal-mobile {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: math.div($spacer, 2);
  border-left: 1px solid $gold;
  list-style: none;
  // padding: 0;
  padding-inline-start: math.div($spacer, 2);

  a {
    color: inherit;
    font-weight: inherit;
    text-decoration: none;

    &[data-bs-toggle='collapse'] {
      @include caret('down');

      align-items: center;
      display: flex;
      justify-content: space-between;

      &::after {
        margin-inline-start: auto;
      }

      &[aria-expanded='true'] {
        @include caret('up');
      }
    }
  }

  > .menu-item {
    border-radius: $border-radius-lg;
    color: var(--bs-primary-text-emphasis);
    font-weight: 600;

    &:has(.sub-menu.show) {
      padding-bottom: $btn-padding-y;
    }

    &:hover,
    &:focus-within,
    &:has(.sub-menu.show),
    &.current-menu-item,
    &.current-menu-ancestor {
      background-color: var(--bs-primary-bg-subtle);
    }

    > a {
      line-height: $line-height-lg;
      padding: $btn-padding-y $btn-padding-x;
    }
  }

  .sub-menu {
    font-weight: 500;
    list-style: none;
    padding-inline-start: $btn-padding-x * 1.5;
    padding-inline-end: $btn-padding-x;

    a {
      line-height: $line-height-lg;
    }
  }
}
