.collapse__menu {
  background-color: #f8f8f8;
  border-top: 2px solid #ffcd07;
  box-shadow: var(--wp--preset--shadow--natural, none);
  margin-bottom: $grid-gutter-width;
  padding: ($grid-gutter-width / 2) $grid-gutter-width;
}

.menu-principal {
  list-style: none;
  padding: 0;
}
