.noticia {
    $n: &;

    &__link {
        display: block;
    }

    &__img-wrapper {
        margin-bottom: 15px;
        position: relative;
        padding-top: 75%;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }

    &__titulo {
        color: $cor-texto;
        font-size: 16px;
        font-weight: bold;
        hyphens: auto;
        line-height: 21px;
        margin-top: 0;
        margin-bottom: 15px;
        min-height: 63px;

        > a {
            color: $cor-texto;
        }
    }

    &__cartola {
        color: $cor-secundaria-azul-claro;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    &__data {
        color: $cor-secundaria-azul-claro;
        font-size: 12px;
        margin-bottom: 5px;
    }

    &__resumo {
        color: $cor-texto;
        font-size: 14px;
        hyphens: auto;
        line-height: 21px;

        p {
            @include trim(4);
        }
    }

    &_destaque {
        #{$n}__img-wrapper {
            position: relative;

            @include media-breakpoint-up(lg) {
                float: left;
                margin-bottom: 0;
                margin-right: 10px;
                padding-top: 30%;
                width: 40%;
            }
        }
        #{$n}__img {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }

        #{$n}__titulo {
            font-size: 26px;
            line-height: 30px;
            margin-bottom: 5px;
        }

        #{$n}__resumo {
            font-size: 16px;
            p {
                display: inline;
                line-clamp: initial;
            }
        }
    }

    &_simples {
        margin-bottom: 15px;

        #{$n}__titulo {
            margin-bottom: 5px;
            min-height: auto;
        }
    }
}
