.noticia {
    $n: &;

    &__link {
        display: block;
    }

    &__img {
        @include media-breakpoint-up(lg) {
            aspect-ratio: 1 / 1;
            object-fit: cover;
        }
        margin-bottom: 1rem;
    }

    &__titulo {
        color: $cor-texto;
        font-size: 16px;
        font-weight: bold;
        line-height: 21px;
        margin-top: 0;
        margin-bottom: 15px;
        min-height: 42px;

        > a {
            color: $cor-texto;
        }
    }

    &__meta {
        font-size: 0.75rem;
    }

    &__cartola {
        color: $cor-secundaria-azul-claro;
        font-weight: bold;
        margin-bottom: 5px;
    }

    &__data {
        color: $cor-secundaria-azul-claro;
        margin-bottom: 5px;

        &[data-toggle="tooltip"] {
            cursor: help;
        }
    }

    &__resumo {
        color: $cor-texto;
        font-size: 14px;
        hyphens: auto;
        line-height: 21px;

        p {
            @include trim(4);
        }
    }

    &_destaque {
        #{$n}__img {
            @include media-breakpoint-up(lg) {
                aspect-ratio: auto;
                float: left;
                margin-bottom: 0;
                margin-right: 1rem;
                object-position: top;
                width: 40%;
            }
        }

        #{$n}__titulo {
            font-size: 26px;
            line-height: 30px;
            margin-bottom: 5px;
        }

        #{$n}__resumo {
            font-size: 16px;
            p {
                display: inline;
                line-clamp: initial;
            }
        }
    }

    &_simples {
        margin-bottom: 15px;

        #{$n}__titulo {
            margin-bottom: 5px;
            min-height: auto;
        }
    }
}
