@use 'sass:math';

.noticia {
    $n: &;

    @include media-breakpoint-only(md) {
        &:nth-child(n+3) {
            margin-top: 1rem;

            #{$n}__img {
                display: none;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &:nth-child(n+4) {
            margin-top: 1rem;

            #{$n}__img {
                display: none;
            }
        }
    }

    &__link {
        display: block;
    }

    &__img {
        aspect-ratio: 1 / 1;
        margin-bottom: 1rem;
        object-fit: contain;
        border-radius: $border-radius;
    }

    &__titulo {
        $line: 21px;

        margin-top: 0;
        margin-bottom: 0.5rem;
        font-size: 1rem;
        font-weight: bold;
        color: $cor-texto;

        @include media-breakpoint-up(md) {
            min-height: $line * 3; // Número mínimo de linhas ocupadas.
            line-height: $line;
        }

        > a {
            color: $cor-texto;
        }
    }

    &__meta {
        margin-bottom: 0.5rem;
        font-size: 0.75rem;
    }

    &__cartola {
        margin-bottom: 5px;

        // color: $accent;
        font-weight: bold;
    }

    &__data {
        // color: $accent;
        margin-bottom: 5px;

        &[data-toggle="tooltip"] {
            cursor: help;
        }
    }

    &__resumo {
        font-size: 0.9rem;
        color: $cor-texto;
        hyphens: auto;

        p {
            @include trim(3);
        }
    }

    &_destaque {
        #{$n}__img {
            @include media-breakpoint-up(lg) {
                float: left;
                max-width: 33%;
                max-width: calc((100% / 3) - math.div($grid-gutter-width, 2));
                margin-right: $grid-gutter-width;
                margin-bottom: 0;
                object-position: top;
            }
        }

        #{$n}__titulo {
            $line: 30px;

            min-height: $line * 2;
            font-size: 1.6rem;
            line-height: $line;
        }

        #{$n}__resumo {
            font-size: 1rem;

            p {
                display: inline;
                line-clamp: initial;
            }
        }
    }

    &_simples {
        margin-bottom: 1rem;

        #{$n}__titulo {
            min-height: auto;
            margin-bottom: 5px;
        }
    }
}
