.page {
    &__title {
        margin-top: 0;
        margin-bottom: 30px;
        font-size: 34px;
        line-height: 37px;
        color: $cor-texto;
    }

    &__separator {
        margin-top: 0;
        margin-bottom: 0;
    }

    &__thumb {
        margin-bottom: 20px;

        @include media-breakpoint-up(md) {
            float: left;
            width: 50%;
            height: auto;
            margin-right: 15px;
            margin-bottom: 10px;
        }
    }

    &__content {
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 15px;
        line-height: 21px;
        color: $cor-texto;

        h1, .h1,
        h2, .h2,
        h3, .h3 {
            margin-top: 20px;
            margin-bottom: 10px;
        }

        h4, .h4,
        h5, .h5,
        h6, .h6 {
            margin-top: 10px;
            margin-bottom: 7px;
        }

        img {
            @include img-fluid;
        }

        p,
        span,
        li,
        blockquote,
        dd,
        dt {
            a:not(.btn) {
                // @include link-bg-grow($accent);
            }
        }
    }

    &__meta {
        font-size: 0.8rem;
        font-style: italic;
    }
}
