.post {
  &__category {
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__title {
    margin-top: 15px;

    // font-size: 34px;
    margin-bottom: 30px;
  }

  &__separator {
    margin: 0;
    margin-bottom: 10px;
  }

  &__date {
    // color: $accent;
    font-size: 12px;
  }

  &__published,
  &__updated {
    padding-left: 18px;

    // @include icon-calendar($cor-secundaria-azul-claro);

    background-position: left center;
    background-size: 15px;
  }

  &__thumb {
    display: inline-block;
    margin-block: 1rem;
    margin-inline: auto;
    text-align: center;

    // @include media-breakpoint-up(md) {
    //   width: 50%;
    //   height: auto;
    //   float: left;
    //   margin-right: 10px;
    //   margin-bottom: 5px;
    // }
  }

  &__content {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 21px;
    color: $cor-texto;

    h1, .h1,
    h2, .h2,
    h3, .h3 {
      margin-top: 20;
      margin-bottom: 10px;
    }

    h4, .h4,
    h5, .h5,
    h6, .h6 {
      margin-top: 10px;
      margin-bottom: 7px;
    }

    img {
      @include img-fluid;
    }
  }

  &__tags-separator {
    border-color: $primary;
    border-width: 2px;
  }

  &__tags {
    padding: 0;
    margin: 0;
    font-size: 0.75rem;
    list-style: none;
  }

  &__tag {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
  }
}
