@use 'sass:math';

.subpages {
  width: 100%;
  max-width: 100%;
  border-inline-start: $border-width $border-style $border-color;

  @include media-breakpoint-up(md) {
    max-width: max-content;
  }

  &:has(+ .wp-block-post-content) {
    @include media-breakpoint-up(md) {
      float: inline-end;
      max-width: 30%;
      margin-block-end: $spacer * 3;
      margin-inline-start: $spacer * 2;
    }

    @include media-breakpoint-up(xl) {
      max-width: 25%;
    }

    & + .wp-block-post-content {
      display: block;
      overflow: visible;
    }
  }

  &:has(.subpages__menu.show) {
    .subpages__toggle {
      @include caret('up');
    }
  }

  &__toggle {
    width: 100%;
    font-weight: 500;
    color: $link-color;
    text-align: left;
    border-radius: 0;

    @include caret('down');

    &:hover,
    &:active {
      color: $link-hover-color;
    }
  }

  &__menu {
    padding: 0;
    margin-block-start: $spacer;
    list-style: none;
  }

  &__item {
    font-size: 0.9rem;
    font-weight: 500;
    color: $primary-text-emphasis;

    &--parent {
      font-weight: 600;
    }
  }

  &__link {
    display: block;
    padding: $btn-padding-y-lg $btn-padding-x-lg;
    font-weight: inherit;
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      background-color: var(--bs-primary-bg-subtle);
    }

    &:has(> svg) {
      display: flex;
      flex-flow: row nowrap;
      gap: math.div($spacer, 2);
      align-items: center;
      justify-content: start;
    }
  }
}
