.ultimos-editais {
    &__edital {
        margin-bottom: 10px;
    }

    &__edital-datetime {
        @include icon-calendar($cor-editais);

        background-position: left center;
        background-size: 15px;
        display: inline-block;
        font-size: 0.85rem;
        margin-bottom: 5px;
        padding-left: 18px;
    }

    &__edital-categories {
        display: inline;
        font-size: 0.9rem;
        font-weight: bold;
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;

        li {
            display: inline-block;

            a {
                color: #000000;
            }
        }
    }

    &__edital-title {
        font-size: 1.15rem;
    }

    h2 {
        @include title-box($cor-editais, '../img/bg-editais.png');
    }

    a {
        color: $cor-editais;
    }
}
