.ultimos-posts {
    margin-top: 30px;

    &__title {
        @include title-box;

        margin: 0;
        font-size: 20px;
    }

    &__post-title {
        margin-top: 15px;
        font-size: 16px;
        line-height: 18px;

        a {
            color: $cor-texto;
        }
    }

    &__post-date {
        font-size: 11px;
    }
}
