$cor-if:                     #2f9e41; // 10%: #2a8e3b, 20%: #267e34

$cor-ds-principal:           #1351b4;
$cor-ds-principal-alt:       #c5d4eb;
$cor-ds-info:                #155bcb;
$cor-ds-info-alt:            #d4e5ff;
$cor-ds-sucesso:             #168821;
$cor-ds-sucesso-alt:         #e3f5e1;
$cor-ds-alerta:              #ffcd07;
$cor-ds-alerta-alt:          #fff5c2;
$cor-ds-erro:                #e52207;
$cor-ds-erro-alt:            #fde0db;

$cor-rodape:                 #134f1d;

$cor-texto:                  #172938;

$cor-agenda:                 #b97a00;
$cor-concursos:              #164eab;
$cor-cursos:                 #195128;
$cor-documentos:             #753900;
$cor-editais:                #3b7390;
$cor-estudantes:             #8a001e;
$cor-galeria:                #017b16;
$cor-ingresso:               #017b16;
$cor-servidores:             #806938;

$cor-concursos-tab:          #e3f4ff;
$cor-concursos-tab-active:   #c0e1f3;
