$cor-rodape: #134f1d;
$cor-texto: #172938;
$cor-agenda: #b97a00;
$cor-concursos: #164eab;
$cor-cursos: #195128;
$cor-documentos: #753900;
$cor-editais: #3b7390;
$cor-estudantes: #8a001e;
$cor-galeria: #017b16;
$cor-ingresso: #017b16;
$cor-servidores: #806938;
