@mixin link-todos($cor) {
    color: $cor;
    font-size: 14px;
    text-transform: uppercase;

    &:after {
        font-family: 'Glyphicons Halflings';
        content: "\e080";
        color: #fff;
        background-color: $cor;
        padding: 3px;
        border-radius: 4px;
        margin-left: 5px;
        font-size: 0.8em;
    }
}
