@use 'sass:math';

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    @include clearfix();
}

.aligncenter {
    margin: 0 auto;
}

.alignright {
    float: right;
    margin-bottom: 10px;
    margin-left: 10px;
}

.alignleft {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

a {
    img {
        &.alignnone {
            @include clearfix();
        }

        &.aligncenter {
            display: block;
            margin: 0 auto;
        }

        &.alignright {
            float: right;
            margin: 5px 0 15px 15px;
        }

        &.alignleft {
            float: left;
            margin: 5px 15px 15px 0;
        }
    }
}

.wp-caption {
    background: #ffffff;
    border: 1px solid $gray-200;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px;
    text-align: center;

    &.alignnone {
        margin: 5px 15px 15px 0;
    }

    &.alignleft {
        margin: 5px 15px 15px 0;
    }

    &.alignright {
        margin: 5px 0 15px 15px;
    }

    img {
        height: auto;
        margin: 0;
        max-width: 98.5%;
        padding: 0;
    }

    p {
        &.wp-caption-text {
            font-size: 85%;
            font-style: italic;
            line-height: 17px;
            margin: 0;
            padding: 5px;
        }
    }
}

/* Text meant only for screen readers. */
.screen-reader-text {
    @include visually-hidden;
}

/* Content gallery */
.gallery {
    clear: both;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.gallery-item {
    margin-bottom: 5px;
    text-align: center;

    a {
        background-image: none !important;
        display: block;
    }

    .widget-area & {
		margin-bottom: 5px;
    }
}

.gallery-icon {
    img {
        @include img-fluid()
    }
}

.gallery-caption {
    color: #666;
    font-size: 0.7rem;
}

@for $i from 1 through 9 {
	.gallery-columns-#{$i} {
		.gallery-item {
			flex: 0 0 calc(#{percentage(math.div(1, $i))} - 5px);
		}
	}
}
