#concursos,
#concurso {
    .title {
        @include title-box($cor-concursos, '../img/bg-concursos.png');
    }

    a {
        color: $cor-concursos;
    }
}

.card-concurso {
    .card-header {
        h3 {
            margin-top: 10px;
        }

        .accordion-toggle {
            display: block;
            padding-right: 15px;
            &:after {
                /* symbol for "opening" panels */
                @extend .fas;
                content: fa-content($fa-var-caret-down);
                float: right;
                color: #fff;
                background-color: $cor-concursos;
                padding: 3px 5px;
                border-radius: 4px;
            }
            &.collapsed:after {
                /* symbol for "collapsed" panels */
                content: fa-content($fa-var-caret-right);
            }
        }
    }

    .concurso-arquivos {
        .tab-list {
            list-style: none;
            padding-left: 0;
            li {
                margin-bottom: $grid-gutter-width;
                a {
                    align-items: center;
                    background: $cor-concursos-tab;
                    border-radius: 4px;
                    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75);
                    display: flex;
                    font-size: 1.1rem;
                    font-weight: bold;
                    height: 80px;
                    justify-content: center;
                    padding: 10px;
                    text-align: center;
                    text-decoration: none;

                    &:hover,
                    &:active,
                    &:visited {
                        text-decoration: none;
                    }
                }

                &.active {
                    a {
                        background: $cor-concursos-tab-active;
                    }
                }
            }
        }
        .dataTables_info {
            font-size: 0.9rem;
        }
    }
}
