#documentos,
#documento {
    .title {
        @include title-box($cor-documentos, '../img/bg-documentos.png');
    }
}

.table-documentos {
    a {
        color: $cor-documentos;
    }
}

.documento {
    margin-bottom: $grid-gutter-width;

    .documento-date-time {
        font-size: 0.95em;
        font-weight: lighter;

        .glyphicon {
            color: $cor-documentos;
        }
    }

    .documento-body {
        border-left: 1px solid $cor-primaria-cinza;
    }

    .documento-type {
        font-weight: bold;
    }
}
