.post {
    .post-category {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
        margin: 0;
    }

    .post-title {
        color: #172938;
        line-height: 37px;
        font-size: 34px;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    hr {
        margin: 0;
        margin-bottom: 10px;
    }

    .post-date {
        color: $cor-secundaria-azul-claro;
        font-size: 12px;
    }

    .post-thumb {
        width: 50%;
        height: auto;
        float: left;
        margin-right: 30px;
        margin-bottom: 15px;
    }

    .post-content {
        margin-bottom: 45px;
        margin-top: 20px;
        font-size: 15px;
        line-height: 21px;
        color: #172938;

        h1, .h1,
        h2, .h2,
        h3, .h3 {
            margin-top: $line-height-computed;
            margin-bottom: ($line-height-computed / 2);
        }

        h4, .h4,
        h5, .h5,
        h6, .h6 {
            margin-top: ($line-height-computed / 2);
            margin-bottom: ($line-height-computed / 3);
        }
    }

    .post-to-tags-separator {
        border-color: $cor-primaria-verde;
        border-width: 3px;
    }

    .post-tags {
        font-size: 11px;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            margin-right: 10px;
        }
    }
}

.latest-posts {
    margin-top: 30px;

    h2 {
        font-size: 20px;
        margin: 0;
    }

    .latest-post-title {
        font-size: 16px;
        line-height: 18px;
        margin-top: 15px;

        a {
            color: #172938;
        }
    }

    .latest-post-date {
        font-size: 11px;
    }
}
