<!-- wp:template-part {"slug":"header","theme":"ifrs-portal-theme","area":"header","lock":{"move":true,"remove":true}} /-->

<main class="container">
  <!-- wp:pattern {"slug":"ifrs/image-404"} /-->

  <!-- wp:heading {"textAlign":"center"} -->
  <h2 class="wp-block-heading has-text-align-center">Ops!</h2>
  <!-- /wp:heading -->

  <!-- wp:paragraph {"align":"center"} -->
  <p class="has-text-align-center">A página que você procura não foi encontrada. Tente voltar para a <a href="/" data-type="page">página inicial.</a></p>
  <!-- /wp:paragraph -->
</main>

<!-- wp:template-part {"slug":"footer","theme":"ifrs-portal-theme","area":"footer","lock":{"move":true,"remove":true}} /-->
