<!-- wp:template-part {"slug":"header","theme":"ifrs-portal-theme","area":"header","lock":{"move":true,"remove":true}} /-->

<main class="container">
  <!-- wp:post-terms {"term":"category"} /-->

  <!-- wp:post-title /-->

  <!-- wp:group {"className":"my-4 p-2 border-top border-bottom","layout":{"type":"flex","flexWrap":"nowrap"}} -->
  <div class="wp-block-group my-4 p-2 border-top border-bottom">
    <!-- wp:post-date /-->

    <div class="vr"></div>

    <!-- wp:post-date {"displayType":"modified"} /-->

    <!-- wp:spacer {"style":{"layout":{"selfStretch":"fill","flexSize":null}}} -->
    <div aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:pattern {"slug":"ifrs/share"} /-->
  </div>
  <!-- /wp:group -->

  <!-- wp:post-featured-image {"width":"75%","align":"center"} /-->

  <!-- wp:post-content /-->

  <!-- wp:post-terms {"term":"post_tag","prefix":"\u003cstrong\u003eTags:\u003c/strong\u003e ","style":{"typography":{"textTransform":"capitalize"}}} /-->
</main>

<!-- wp:template-part {"slug":"footer","theme":"ifrs-portal-theme","area":"footer","lock":{"move":true,"remove":true}} /-->
