@use 'sass:math';

@mixin title-box($color: $primary, $image-url: '') {
  background-color: $gray-500;
  border-top: 5px solid $color;
  padding: 15px 10px 25px 15px;

  @if $color != $primary {
    color: $color;
  }

  @if $image-url != '' {
    background-image: url($image-url);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@mixin link-todos($cor: $primary) {
  color: $cor;
  font-size: 14px;
  text-transform: uppercase;

  &:hover {
    color: $cor;
  }

  &::after {
    // @include icon-chevron('right');

    content: '';
    background-color: $cor;
    background-position: center center;
    background-size: 15px;
    padding: 0 10px;
    border-radius: 4px;
    margin-left: 5px;
  }
}

@mixin trim($numLines: 1) {
  @if $numLines > 1 {
    display: -webkit-box;
    -webkit-line-clamp: $numLines;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  } @else {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
