%menu-barra {
  display: flex;
  flex-flow: row wrap;
  gap: 0.75rem;
  align-items: center;
  justify-content: start;
  padding-left: 0;
  margin-bottom: 0.5rem;
  font-size: $sub-sup-font-size;
  list-style: none;

  > * {
    display: inline-block;
  }
}
