%menu-barra {
  display: flex;
  flex-flow: row wrap;
  gap: 0.75rem;
  align-items: center;
  justify-content: start;
  padding-left: 0;
  margin-bottom: 0.5rem;
  font-size: $sub-sup-font-size;
  list-style: none;

  > * {
    display: inline-block;
  }
}

%card {
  background-color: var(--bs-gray-200);
  border: var(--bs-border-width, 1px) var(--bs-border-style, solid) var(--bs-border-color, $gray-300);
  border-radius: var(--bs-border-radius, 1rem);
  box-shadow: var(--bs-box-shadow-sm, none);
  color: var(--bs-primary-text-emphasis, $body-color);
  text-decoration: none;
  transition: $transition-base;
}
