.wp-block-heading {
  $font-size-scale: 1.1;

  &.is-style-separador {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: stretch;

    font-weight: 600;
    margin: 2rem 0 1rem;
    text-transform: uppercase;

    &::before,
    &::after {
      content: '';
      background-color: $gray-500;
      height: 1px;
      width: 100%;
      flex: 1 1 0;
    }

    &::before {
      margin-inline-end: 1rem;
    }

    &::after {
      margin-inline-start: 1rem;
    }

    @for $i from 1 through 6 {
      @at-root h#{$i}#{&} {
        font-size: $font-size-base * $font-size-scale * pow($font-size-scale, 6 - $i);
      }
    }
  }
}
