.wp-block-button {
  &.is-style-card {
    flex: 0 1 calc(25% - 18px);
    aspect-ratio: 4 / 3;

    @include media-breakpoint-down(lg) {
      flex: 0 1 calc(50% - 12px);
    }

    @include media-breakpoint-down(sm) {
      flex: 0 1 100%;
      aspect-ratio: 16 / 9;
    }

    > .wp-block-button__link {
      @extend %card;

      font-size: $font-size-lg;
      font-weight: 500;

      &:hover {
        // background-color: var(--bs-primary-bg-subtle);
        background-color: var(--bs-light, $gray-100);
        box-shadow: var(--bs-box-shadow, none);
        transform: translateY(-0.25rem);
      }
    }
  }
}
