.wp-block-button {
  &.is-style-card {
    > .wp-block-button__link {
      background-color: $gray-200;
      border-radius: $border-radius-sm;
      box-shadow: var(--wp--preset--shadow--small, none);
      color: $cor-rodape;
      font-size: $font-size-lg;
      font-weight: 500;
      text-decoration: none;
      width: 300px;

      &:hover {
        background-color: tint-color($cor-rodape, 80%);
        color: $cor-rodape;
      }
    }
  }
}
