.portal-cta-banner {
  $transition: all 0.5s ease-in-out;

  max-width: 100%;
  aspect-ratio: 4/5 !important; // Mesmo formato do Instagram
  color: #ffffff;
  border-radius: $border-radius-lg;

  &:focus-within {
    outline: auto;
  }

  .wp-block-cover__image-background {
    transition: $transition;
  }

  .wp-block-cover__inner-container {
    position: static !important;
    z-index: 1;
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 1px 1px 4px rgb(0 0 0 / 80%);
    transition: $transition;

    @include media-breakpoint-up(md) {
      opacity: 0;
    }

    * {
      font-size: inherit;
      font-weight: inherit;
      color: inherit;
    }

    a {
      @extend .stretched-link !optional;

      text-decoration: none;
    }
  }

  @include media-breakpoint-up(md) {
    &:hover {
      .wp-block-cover__image-background {
        transform: scale(1.1);
      }

      .wp-block-cover__inner-container {
        opacity: 1;
      }
    }
  }
}
