.portal-cta-banner {
  $transition: all 0.5s ease-in-out;

  border-radius: $border-radius-lg;
  color: #ffffff;

  aspect-ratio: 4/5 !important; // Mesmo formato do Instagram
  max-width: 100%;

  .wp-block-cover__image-background {
    transition: $transition;
  }

  .wp-block-cover__inner-container {
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.6);
    transition: $transition;
    position: static;
    z-index: 1;

    @include media-breakpoint-up(md) {
      opacity: 0;
    }

    * {
      color: inherit;
      font-size: inherit;
      font-weight: inherit;
    }

    a {
      @extend .stretched-link;
      text-decoration: none;
    }
  }

  @include media-breakpoint-up(md) {
    &:hover {
      .wp-block-cover__image-background {
        transform: scale(1.1);
      }
      .wp-block-cover__inner-container {
        opacity: 1;
      }
    }
  }
}
