.ultimos-documentos,
.ultimos-editais {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  gap: 1rem;
}

.documento-recente,
.edital-recente {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;

  background-color: var(--bs-gray-200);
  border-radius: var(--bs-border-radius, 1rem);
  box-shadow: var(--bs-box-shadow-sm, none);
  color: var(--bs-primary-text-emphasis);
  width: 100%;
  padding: 1rem;
  text-decoration: none;
  transition: $transition-base;

  &:hover,
  &:active {
    background-color: var(--bs-primary-bg-subtle);
    color: var(--bs-primary-text-emphasis);
    text-decoration: none;
  }

  &__meta {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }

  &__datetime {
    display: inline-block;
}

  &__taxonomy-list {
    display: inline;
    font-weight: bold;
    list-style: none;
    padding-left: 0;

    > * {
      display: inline;
    }
  }

  &__title {
    font-size: clampBuilder(600, 1200, 1.15, 1.3);
  }
}
